<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="container p-3 mb-2 bg-info text-white">
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>

        </ul>
    </div>
</nav>
<main>
    <h3>Search and modify masters data</h3>
    <p th:text="${message} ?:'Select data'"/>
    <br>
    <div>
        <p>Masters available:</p>
        <th:block th:each="master : ${masters}">
            <li th:utext="${master}"/>
        </th:block>
    </div>
    <br>
    <p>add new master:</p>
    <h6>available specialities are: MECHANIC, RESHAPER, ELECTRICIAN, PAINTER</h6>
    <div>
        <form method="post" th:action="@{/masters/add}">
            <input type="text" name="name" placeholder="enter full name:">
            <input type="text" name="salary" placeholder="enter daily payment:">
            <input type="text" name="speciality" placeholder="enter speciality:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <p>book master for the Date:</p>
    <div>
        <form method="post" th:action="@{/masters/set-date}">
            <input type="text" name="id" placeholder="enter Master's id:">
            <input type="text" name="date" placeholder="enter date to book:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <p>delete master:</p>
    <div>
        <form method="post" th:action="@{/masters/delete}">
            <input type="text" name="id" placeholder="enter Master's id:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <p>unbook master:</p>
    <div>
        <form method="post" th:action="@{/masters/un-book}">
            <input type="text" name="id" placeholder="enter Master's id:">
            <input type="text" name="date" placeholder="enter date to unbook:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <div>
        <p>find master:</p>
        <form method="get" th:action="@{/masters/find}">
            <input type="text" name="name" placeholder="enter Master's name:">
            <input type="text" name="speciality" placeholder="enter speciality :">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <div>
        <p>find free master:</p>
        <form method="get" th:action="@{/masters/free}">
            <input type="text" name="date" placeholder="enter date:">
            <input type="text" name="speciality" placeholder="enter speciality:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <div>
        <p>find free masters for the Date:</p>
        <form method="get" th:action="@{/masters/free-all}">
            <input type="text" name="date" placeholder="enter date:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>
    <br>
    <div>
        <p>find all masters of the Speciality:</p>
        <form method="get" th:action="@{/masters/speciality}">
            <input type="text" name="speciality" placeholder="enter Speciality:">
            <input type="submit" value="submit" placeholder="submit">
        </form>
    </div>

</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>
