<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC application</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!--bootstrap-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <link href="/static/style.css" rel="stylesheet">
</head>
<body class="container p-3 mb-2 bg-info text-white">
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>

        </ul>
    </div>
</nav>
<main>
    <h3>Search and modify order's data</h3>
    <p th:text="${message} ?:'Select data'"/>
    <br>
    <div>
        <p>Order's booked:</p>
        <th:block th:each="order : ${orders}">
            <li th:utext="${order}"/>
        </th:block>
    </div>
    <br>
    <div>

        <p>add Order:</p>
        <form method="post" th:action="@{/order_menu/addOrder}">
            <input name="date" placeholder="enter date of execution:" type="text">
            <select th:name="speca">
                <option>MECHANIC</option>
                <option>RESHAPER</option>
                <option>PAINTER</option>
                <option>ELECTRICIAN</option>
            </select>

            <br>
            <input placeholder="submit" type="submit" value="submit">
        </form>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
